<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" closed>

    </mat-drawer>
    <mat-drawer-content>
      <mat-card>
        <form action="">
          <mat-form-field>
            <input matInput type="text" placeholder="Title" #Title>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Album Id" #AlbumId>
              <mat-option *ngFor="let id of albumsId" value="id">
                {{id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="URL" #url>
          </mat-form-field>
          <button mat-flat-button style="display:block;width: 100%;" color="primary">
            search
          </button>
        </form>
      </mat-card>
      <app-fotos></app-fotos>
    </mat-drawer-content>
  </mat-drawer-container>

</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->